* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ---- Navigation ---- */

.name {
  font-size: 1.35em;
  margin: 0;
  color: #61dafb;
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
  display: block;
  padding: 10px 15px;
  text-align: center;
}

.name a {
  color: #61dafb;
}

.main-nav a {
  font-size: .95em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav a:hover {
  color: #61dafb;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #20232a;
}

.banner,
.main-footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #292C34;
  padding: 3.2em 0;
  margin-bottom: 48px;
}

.col {
  padding: 1em;
  text-align: center;
  background: #f7f7f7;
  border-radius: .35em;
  margin: 0 .5em .8em;
}

.main-footer {
  background: #292C34;
  color: #fff;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements ---- */

.headline {
  color: #61dafb;
  margin-bottom: 0;
}

.btn-blue {
  width: 100%;
  background-color: #61dafb;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
}

.btn-blue a {
  color: #000000;
}

.btn-blue:hover {
  background-color: #ffffff;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  /* .main-header {
    width: 100%;
    margin: 0 auto;
  } */
  .row {
    width: 90%;
    margin: auto;
  }
  .tagline {
    font-size: 1.4em;
  }
}
